*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #410358, #4700bc);
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination{
    display: flex;
    align-items: center;
    background: #fff;
    color: #383838;
    padding: 10px 40px;
    border-radius: 6px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
}
ul{
    margin: 20px 30px;
}
ul li{
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
    background-position: 0 -45px;
    transition: background-position 0.6s;
}

ul li.active{
    color: #fff;
    background-image: linear-gradient(#ff4568, #ff4568);
    background-repeat: no-repeat;
    background-position: 0 0;
}

ul li:hover {
    background-color: #ff4568;
    color: #fff;
}


.btn1,.btn2{
    display: inline-flex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #383838;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    border: 0px solid #ededf3;
    border-radius: 50px;
    padding: 5px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.btn1 img{
    width: 24px;
    margin-right: 15px;
    transform: rotate(180deg);
}
.btn2 img{
    width: 24px;
    margin-left: 15px;
}

.btn1:hover, .btn2:hover {
    background-color: #ff4568;
    color: #fff
}